@import url('https://fonts.googleapis.com/css2?family=Sofia&Pinyon+Script&family=Raleway:ital,wght@0,300;0,400;0,700;1,300&display=swap');

@import "reset.css";

/* Variables */

$color-white: #fafafa;
$color-pale-blue: #eef2f6;
$color-text-black: #33424E;
$color-text-brown: #8F857B;
$color-text-dark-brown: #62594f;

$container-width: 960px;

$header-height: 90px;

/* Font Styles */

body { 
    font-family: 'Raleway'; 
    font-weight: 200;
    color: $color-text-black;

    padding-top: $header-height;
    
    /* Frontmost scene and background should have the same color */
    background: $color-pale-blue;
}

h1 { font-size: 3.00em; font-weight: 700; color: $color-text-black; margin-bottom: 0.67em; letter-spacing: 0.056em; }
h2 { font-size: 2.50em; font-weight: 400; color: $color-text-black; margin-bottom: 0.67em }
h3 { font-size: 1.57em; font-weight: 400; color: $color-text-black; margin-bottom: 0.67em; letter-spacing: 0.056em; }
h4 { font-size: 1.00em; font-weight: 400; color: $color-text-black; }
h5 { font-size: 0.83em; font-weight: 400; color: $color-text-black; }
h6 { font-size: 0.67em; font-weight: 400; color: $color-text-black; }

p { margin-bottom: 1em; line-height: 1.6em; font-weight: 300; }
em { font-style: italic; }


/* Global Styles */

html {
    // background: $color-black;
}

/* Global Navigation */

.globalNavigation {
    position: fixed;
    z-index: 99;

    top: 0;
    left: 0;
    right: 0;

    height: $header-height;
    box-sizing: border-box;

    background: $color-white;

    padding: 20px;
    padding-top: 24px;

    display: flex;
    justify-content: center;

    border-bottom: 2px solid $color-text-brown;
}

.globalNavigation nav {
    width: 100%;
    justify-content: center;

    display: flex;
}

.navigationItem {
    display: flex;
    align-items: center;

    color: $color-text-black;
    text-decoration: none;

    padding: 10px 20px 10px;

    cursor: pointer;
}

.navigationItem:hover {
    color: $color-text-brown;
    text-decoration: none;
}

.logoContainer {
    margin: 0 40px;
}

.logoText {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.5em;

    margin: 0;
    font-size: 14px;
    color: $color-text-black;
}

.pageSection {
    width: 100%;
    padding-bottom: 40px;

    &.contained {
        background: $color-white;
        width: 960px;
        margin: 0 auto;
    }
}

.pageHeader {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    text-align: center;

    padding: 40px 0px 20px;
}

.navSpacer {
    top: -135px;
    position: absolute;
}

.pageHeading {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.heartDividerContainer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pageHeaderPhotoContainer {
    width: 500px;
    height: 260px;
    overflow: hidden;
    margin: 20px auto 0;
}

.pageHeaderPhoto {
    width: 100%;
    filter: grayscale(0.3);
}

.pageSection.transparent {
    & .pageHeader {
        margin-top: 40px;
    }

    & .pageHeading {
        color: $color-white;
    }
}

.pageSection.home {
    width: 960px;
    padding: 80px 0 120px;
    // padding: 100px 0 420px;

    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    text-align: center;
}

.landingText {
    font-family: "Sofia";
    color: white;
    font-weight: bold;
    line-height: 1.1em;

    font-size: 58px;

    margin-bottom: 40px;
}

.landingSubText {
    color: white;
    font-size: 24px;

    margin-bottom: 24px;
}

.rsvpButton {
    margin-top: 20px;
    background: $color-text-brown;
    padding: 15px 50px;
    color: $color-white;
    text-decoration: none;
    letter-spacing: 0.3em;
    border-radius: 1px;

    transition: all 0.16s ease-in-out;
}

.rsvpButton:hover {
    background: $color-text-dark-brown;
}

.aboutUsRowContainer {
    width: 100%;
}

.aboutUsRow {
    width: $container-width;
    margin: 0 auto;
    display: flex;
}

.aboutUsColumn {
    width: 50%;

    padding: 0 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    &.christy {
        border-right: 1px solid $color-pale-blue;
    }

    &.rob {
        border-left: 1px solid $color-pale-blue;
    }
}

.profilePhotoContainer {
    width: 260px;
    height: 260px;

    border-radius: 100%;
    overflow: hidden;

    margin-bottom: 40px;
}

.profilePhoto {
    width: 100%;
}

.profileFactsContainer {
}

.profileFactsList {
    & li {
        padding: 0 20px;
        margin-bottom: 10px;
        line-height: 1.4em;
    }
}

.profileName {
    font-weight: bold;
    margin-top: 10px;
    padding: 0 20px 0px;
    margin: 0;
}

.profileSubTitle {
    width: fit-content;

    margin: 10px auto 20px;

    padding-top: 10px;
    border-top: 2px solid $color-text-brown;

    color: $color-text-brown;
}

.profileFacts {
    & li {
        position: relative;
        margin-bottom: 20px;
    }
}

.ourStoryContainer, .receptionContainer {
    text-align: center;
    padding: 0 40px;
    margin: 0 auto;
}

.ourStoryText {
    line-height: 1.8em;
    padding: 0 20px;
    margin: 0;
}

// Ceremony

.theCeremonyContainer {
    text-align: center;
    width: 100%px;
    padding: 0 40px;
    margin: 0 auto;
}

// Reception
// Getting There

.receptionSection {
    margin-bottom: 40px;
}

.gettingThereMap {
    width: 100%;
}

// seperator imags

.seperatorImageContainer {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.seperatorImage {
    width: 100%;
}