@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Raleway:ital,wght@0,300;0,400;0,700;1,300&display=swap');

@import "reset.css";

/* Variables */

$color-white: #fafafa;
$color-text-black: #33424E;
$color-text-brown: #8F857B;
$color-text-dark-brown: darken(#8F857B, 0.6);

$container-width: 960px;

/* Font Styles */

body { 
    font-family: 'Raleway'; 
    font-weight: 200;

    /* Let the user scroll */
    height: 2000px;
    color: $color-text-black;
    /* Frontmost scene and background should have the same color */
    background: $color-white;
}

h1 { font-size: 3.00em; font-weight: 700; color: $color-text-black; margin-bottom: 0.67em; letter-spacing: 0.056em; }
h2 { font-size: 2.50em; font-weight: 400; color: $color-text-black; margin-bottom: 0.67em }
h3 { font-size: 1.57em; font-weight: 400; color: $color-text-black; margin-bottom: 0.67em; letter-spacing: 0.056em; }
h4 { font-size: 1.00em; font-weight: 400; color: $color-text-black; }
h5 { font-size: 0.83em; font-weight: 400; color: $color-text-black; }
h6 { font-size: 0.67em; font-weight: 400; color: $color-text-black; }

p { margin-bottom: 1em; line-height: 1.6em; font-weight: 300; }
em { font-style: italic; }


/* Global Styles */

html {
    // background: $color-black;
}

/* Global Navigation */

#globalNavigation {
    position: fixed;
    z-index: 99;

    top: 0;
    left: 0;
    right: 0;

    width: 100%;

    background: $color-white;

    padding: 20px;
    padding-top: 24px;

    display: flex;
    justify-content: center;
}

#globalNavigation nav {
    width: 100%;
    justify-content: center;

    display: flex;
}

.navigationItem {
    display: flex;
    align-items: center;

    color: $color-text-black;
    text-decoration: none;

    padding: 10px 20px 10px;

    cursor: pointer;
}

.navigationItem:hover {
    color: $color-text-brown;
    text-decoration: none;
}

.logoContainer {
    margin: 0 40px;
}

.logoText {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.5em;

    margin: 0;
    font-size: 14px;
    color: $color-text-black;
}


//  Parallax

.pageSection {
    width: 100%;
}

.pageHeader {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    text-align: center;

    padding: 60px 0px 20px;
}

.pageHeading {
    width: 100%;
}

.pageHeaderPhotoContainer {
    width: 500px;

    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;

    border: 2px solid $color-white;
}

.pageHeaderPhoto {
    width: 100%;
}

.pageSection.transparent {
    & .pageHeader {
        margin-top: 40px;
    }

    & .pageHeading {
        color: $color-white;
    }
}

#home {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 520px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    text-align: center;
}

.landingText {
    font-family: "Pinyon Script";
    color: white;
    font-weight: bold;
    line-height: 1.1em;

    font-size: 72px;

    margin-bottom: 20px;
}

.landingSubText {
    color: white;
    font-size: 24px;

    margin-bottom: 24px;
}

.rsvpButton {
    margin-top: 20px;
    background: $color-text-brown;
    padding: 15px 50px;
    color: $color-white;
    text-decoration: none;
    letter-spacing: 0.4em;
    border-radius: 1px;

    transition: all 0.16s ease-in-out;
}

.rsvpButton:hover {
    background: $color-text-dark-brown;
}


#about-us {
    background: $color-white;
    padding-bottom: 60px;
}

.aboutUsRowContainer {
    width: 100%;
}

.aboutUsRow {
    width: $container-width;
    margin: 0 auto;
    display: flex;
}

.aboutUsColumn {
    width: 50%;

    padding: 0 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.profilePhotoContainer {
    width: 160px;
    height: 160px;

    border-radius: 100%;
    overflow: hidden;

    margin-bottom: 40px;
}

.profilePhoto {
    width: 100%;
}

.profileFactsContainer {
}

.profileFactsList {
    
    & li {
        margin-bottom: 15px;
    }
}

.profileName {
    font-weight: bold;
    margin-top: 10px;
    padding: 0 20px 0px;
    margin: 0;
}

.profileSubTitle {
    width: fit-content;

    margin: 10px auto 40px;

    padding-top: 10px;
    border-top: 2px solid $color-text-brown;

    color: $color-text-brown;
}

.profileFacts {
    & li {
        position: relative;
        margin-bottom: 20px;
    }
}

#our-story, #reception {
    padding-bottom: 60px;
    background: rgba($color-text-black, 0.8);
    color: $color-white;

    & h1.pageHeading {
        color: $color-white;
    }
}

.ourStoryContainer, .receptionContainer {
    text-align: center;
    width: 960px;
    padding: 0 40px;
    margin: 0 auto;
}

.ourStoryText {
    color: $color-white;
    line-height: 1.8em;
}

// Ceremony

#the-ceremony, #getting-there {
    padding-bottom: 40px;
}

.theCeremonyContainer {
    text-align: center;
    width: 960px;
    padding: 0 40px;
    margin: 0 auto;
}

// Reception

#reception {
    h3 {
        color: $color-white;
    }
}

// Getting There

.receptionSection {
    margin-bottom: 40px;
}

.gettingThereMap {
    width: 100%;
}